@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Dosis:300|Open+Sans:600|Work+Sans');

body{
font-family: 'Open Sans', sans-serif;
}
.overlay
{
    background-color:rgba(0,0,0,0.3);
    z-index: 2;
    background-size:cover;
    height: 100vh;
}

//navbar and header
.hero
{
    background-image: url("../images/banner-1.jpeg");
    background-size: cover;
    background-position: center center;
    color: white;
    @media screen and (max-width: 425px)
    {
        height: 100vh;
    }
    @media screen and (max-width: 458px)
    {
        .title{font-size: 20px !important;}
        .subtitle{font-size: 10px !important;}
        h1,h2{
            width: 80% !important;
        }
    }
    img{
        padding-right: 20px;
    }
    .navbar
    {
        padding-top:15px;
    }
    h1,h2
    {
    width: 45%;
    padding-bottom:15px;
    }
}

//global
.hero-body
{
    @media screen and (min-width: 651px)
    {
        .button{
            padding-right: 100px;
            padding-left: 100px;
        }
    //padding-top: 14% !important;
    //padding-bottom: 14% !important;
    }
    // to make banner fullscreen
    @media screen and (max-width: 650px)
    {
        .button{
            padding-right: 8%;
            padding-left: 8%;
        }
    }
    li{
        line-height: 30px;
    }
    
}
//about
.about-us{
    .columns
    {
    img{
        size: 75%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    }
    p{
    vertical-align: center;
    }
    }
}

//may be the uber .. ..
.hero-quote {
  background-image: url("../images/img-quote.jpeg");
  margin-bottom: 0;
  .container{
      
  padding-bottom: 9rem;
  padding-top: 9rem;
  img {
    max-width: 15%;
    height: auto;
    }
            }
  background-size: cover;
  background-position: 0% 44%;
  color: white;
}

//lightbulbs and stuff
.hero-list{
    ul {
        list-style:none;
        }
    li{
        background:url('../images/smol.png') no-repeat left top; 
     padding-left: 40px; /* the width of your image + some space */
     margin: 3px 0;
    }
    @media screen and (min-width: 1316px)
    {
   background-image: url("../images/img-howitworks-2.jpeg");
   .container{
        padding-left: 32%;
        //padding-right: 10%;
        }
    }
    @media screen and (max-width: 1024px)
    {
    .container {
        padding-left: 10%;
        padding-right: 10%;
    }}
    /* @media screen and (max-width: 1400px)
    {
        .container{
            //padding-right: 10%;
            padding-bottom: 1rem !important;
            }
    } */

    margin-bottom: 0;
    .container{
        padding-bottom: 6rem;
        padding-top: 6rem;
        vertical-align:middle;
        img {
            max-width: 15%;
            vertical-align:middle;
            height: auto;
        }
    }
    background-size: contain;
    background-repeat: no-repeat;          
    color: black;
}

//contact us
.hero-contact{
    background-color: #4652B1;
    @media screen and (max-width: 458px)
    {
        .h1{
            font-size: 10px !important;
        }
    }
    h1{
        padding-bottom: 15px;
    }
    .container{
        padding-bottom: 3rem;
        padding-top: 3rem;
        line-height: 30px;
        font-size: 0.8rem;
    }
    img{
        vertical-align:middle;
    }
}


.sub
{
    font-family: 'Open Sans', sans-serif;
}
h1, .navbar-brand{
    font-family: 'Dosis',sans-serif;
}
.button
{
    background-color: orangered !important;
    color: white;
    border-color: transparent;
}

@media screen and (max-width: 458px)
{
    .textitle{
        font-size: 20px !important;
    }
}